$iconSpritePath: '/images/glyphicons-halflings.png';
@import 'sass-bootstrap/lib/bootstrap';
@import "compass/css3";
@import 'body';

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.navbar, .affix, .affix-top {
    @include transform(translate3d(0,0,0)); 
}

.clear {
    clear:both;
}

html{
    height:100%;
    min-height:100%;
    background: url("../images/bg.jpg") no-repeat center center fixed; ;
    @include background-size(cover);
    @include transform(translate3d(0,0,1)); 
}

body{
  background: none;
}
