@import '../../styles/main.scss';
@import '../page/page.scss';

.container-fluid{
  padding-top:100px;
  padding-bottom:100px;
}

#welcome .logo-home{
  display:none;
}

@media (min-width: 1000px){
#welcome .content{
    font-size:30px;
    padding: 20px 0;
}

#welcome .logo-home{
	float:left;
	display:block;
	padding:10px;
}
}

#welcome{
  margin-bottom:100px;
}

.col-md-3{
  font-size:30px;
  text-align:center;
}

.link{
  font-size:100px;
}

a:hover, a:focus {
text-decoration: none;
color:#353535;
}

.research{
  color:#31b06b;
}
.software{
color:#5158cc;
}
.team{
color:#e1a90e;
}
.contact{
color:#f55253;
}
