@import '../../styles/main.scss';
@import '../page/page.scss';

.container-fluid{
  padding-top:50px;
  padding-bottom:100px;
}

#welcome .logo-home{
  display:none;
}

#welcome .section{
  margin-bottom: 100px;
}

@media (min-width: 1000px){
  #welcome .content{
    font-size:30px;
    padding: 20px 0;
  }

  #welcome .logo-home{
	  float:left;
	  display:block;
	  padding:10px;
  }

  .link{
    width:180px;
    height:180px;
    font-size:100px;
    margin:auto;
    border-radius: 90px;
  }
}

@media (max-width: 999px){
  .link{
    font-size:40px;
    margin:auto;
    padding: 10px;
  }

  .col-sd-12{
    padding:0;
  }
}

.link i{
  vertical-align: middle;
}

.sub{
  font-size:16px;
}

#welcome section{
  margin-bottom:150px;
}

.col-md-3{
  font-size:30px;
  text-align:center;
}

a:hover, a:focus {
  text-decoration: none;
}

.link:hover, .link:focus{
  background-color:#353535;
}

$research-color: #31b06b;
.research {
  background-color: $research-color;
  color:#FFF;
}

$software-color: #5158cc;
.software{
  background-color: $software-color;
  color:#FFF;
}

$team-color: #e1a90e;
.team{
  background-color: $team-color;
  color:#FFF;
}

$contact-color: #f55253;
.contact{
  background-color: $contact-color;
  color:#FFF;
}

.p1{
  padding:5px;
}
.p2{
  padding:5px;
}
