#welcome .logo-home{
  display:none;
}

home-element .fBox{
	background-color:rgba(255, 255, 255, .5);
}

@media (min-width: 1000px){
#welcome .content{
    font-size:22px;
    padding: 20px 0;
}

#welcome .logo-home{
	float:right;
	display:block;
}
}
