@import '../../styles/main.scss';
@import '../page/page.scss';

.icon{
  font-weight: bold;
  font-style: normal;
  font-family: "FontAwesome";
  text-align: left;
  color: #353535;
}

.phone::before{
  content:"\f095";
}

.fax::before{
  content:"\f02f";
}

$main-color: #5158cc;
#main1 .card{
  border-left: 5px solid $main-color;
}

$autumn-color: #31b06b;
#autumn .card{
  border-left: 5px solid $autumn-color;
}

$waltham-color: #e2aa0f;
#waltham .card{
  border-left: 5px solid $waltham-color;
}

.info{
  font-size:1.3em;
background-color: #eee;
padding: 20px 10px;
}

.notes{
background-color: #eee;
padding: 20px 10px;
}

.info{
  margin-bottom: 1em;
}

.notes{
  margin-top: 1em;
}

.icon>span{
  display: inline-block!important;
}

.address{
  margin-bottom: 1em;
  color: #353535;
}
