@import '../../styles/main.scss';
@import '../page/page.scss';

.icon{
        font-weight: bold;
        font-style: normal;
        font-family: "FontAwesome";
        text-align: left;
      }

      .phone::before{
        content:"\f095";
      }

      .fax::before{
        content:"\f02f";
      }

.card{
  -webkit-box-shadow: #cccccc 1px 1px 10px 0px;
  padding: 20px;
}

$main-color: #5158cc;
#main1 .card{
  background-color:$main-color;
}

$autumn-color: #31b06b;
#autumn .card{
  background-color:$autumn-color;
}

$waltham-color: #e2aa0f;
#waltham .card{
  background-color:$waltham-color;
}
      .info{
        padding: 10px;
        font-size:18px;
        font-style: italic;
        color:#FFF;
      }

      .icon>span{
  display: inline-block!important;
}

.subtitle{
font-size: 22px;
font-weight: bold;
padding: 20px;
color: #838383;
display: inline-block;

}
