@import '../../styles/main.scss';
@import '../page/page.scss';

.icon{
  font-weight: bold;
  font-style: normal;
  font-family: "FontAwesome";
  text-align: left;
}

.phone::before{
  content:"\f095";
}

.fax::before{
  content:"\f02f";
}

.card{
  -webkit-box-shadow: #cccccc .1em .1em 1em 0em;
  padding: .5em;
}

.card:hover{
  -webkit-box-shadow: #353535 .1em .1em 1em 0em;
}

$main-color: #5158cc;
#main1 .card{
  background-color:$main-color;
}

$autumn-color: #31b06b;
#autumn .card{
  background-color:$autumn-color;
}

$waltham-color: #e2aa0f;
#waltham .card{
  background-color:$waltham-color;
}

.info, .notes{
  padding: 1em;
  font-size:1.3em;
  font-style: italic;
  background-color: #FFF;
}

.info{
  margin-bottom: 1em;
}

.notes{
  margin-top: 1em;
}

.icon>span{
  display: inline-block!important;
}

.address{
  margin-bottom: 1em;
}
