      .slider {
        width: 100%;
        margin: 50px auto 0;
      }

      .buttons{
        display: flex;
        flex-flow: row wrap;
        border: 1px solid #0088cc;
        margin-top: 30px;
      }
      
      .link{
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%;
        color: #fff;    
        text-align: center;
        padding:10px;
      }
      
      .source{
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%;
        color: #fff;
        border-left: 1px solid #0088cc;
        text-align: center;
        padding:10px;
      }

      .container ul{
        list-style-position:inside;
      }
      .container li{
        line-height: normal;
      }
      
      .technology{
        color: grey;
        font-style: italic;
      }