@import '../../styles/main.scss';
@import '../page/page.scss';

.date{
  font-weight: bold;
  text-align: center;
  font-size: x-large;
}

.month{
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.row > .col-md-12{
  white-space: nowrap;
  overflow: hidden;
}

.info{
  // -webkit-box-shadow: #353535 .1em .1em .5em .1em;
}
.info:hover{
  z-index:50;
  -webkit-box-shadow: #353535 .3em .3em 1.2em .2em;
}

.tags .row{
  -webkit-box-shadow: #353535 .1em .1em 1em 0em;
}

$general-color: #0eadee;
$press-color: #31b06b;
$publication-color: #f55253;
$award-color: #e1a90e;
$talk-color: #5158cc;

.talk{
  background:$talk-color;
  color: #FFF;
}

.talk-border{
  border:1px solid $talk-color;
}

.award{
  background:$award-color;
  color: #FFF;
}

.award-border{
  border:1px solid $award-color;
}

.publication{
  background:$publication-color;
  color: #FFF;
}

.publication-border{
  border:1px solid $publication-color;
}

.general{
  background:$general-color;
  color: #FFF;
}

.general-border{
  border:1px solid $general-color;
}

.press{
  background:$press-color;
  color: #FFF;
}

.press-border{
  border:1px solid $press-color;
}

.info{
  // background-color: #FFF;
  padding: 1em;
}

.what{
  font-size:1.1em;
  color:#FFF;
}

.who{
  font-size:1em;
  font-style:italic;
  color:lightgrey;
}

.where{
  font-size:1em;
  font-style:italic;
  color:lightgrey;
}

.location{
  font-size:1em;
  font-style:italic;
  color:lightgrey;
}

@media (max-width: 999px){
  .month, .date{
    font-size:large;
  }

  .info{
    padding: .6em;
  }

  .info .summary{
    padding-top: .6em;
  }

}

@media (min-width: 1000px){

  .date{
    color:#000;
    background-color:#FFF;
  }

  .info{
    height:150px;
    overflow-y:auto;
  }

}

a{
  color:#353535;
}

a:hover{
  color:#353535;
  font-weight: bold;
}

$ttfourteen-color: #5158cc;
#ttfourteen .card{
  border-left: 5px solid$ttfourteen-color;
}

$ttthirteen-color: #31b06b;
#ttthirteen .card{
  border-left: 5px solid$ttthirteen-color;
}

$tttwelve-color: #e2aa0f;
#tttwelve .card{
  border-left: 5px solid$tttwelve-color;
}

$tteleven-color: #f55253;
#tteleven .card{
  border-left: 5px solid $tteleven-color;
}
