@import '../../styles/main.scss';
@import '../page/page.scss';
  .date{
    font-weight: bold;
    text-align: center;
  }

  .row > .col-md-12{
    white-space: nowrap;
overflow: hidden;
/*text-overflow: ellipsis;*/
  }

$general-color: #6A6DB4;
$press-color: #6A79B4;
$grant-color: #6A88B4;
$workshop-color: #6A99B4;
$poster-color: #6AABB4;
$paper-color: #6AB4AB;
$award-color: #6AB499;
$talk-color: #6AB485;

     .talk{
      background:$talk-color;
      color: #FFF;
     }

     .talk-border{
       border:1px solid $talk-color;
     }

    .award{
      background:$award-color;
      color: #FFF;
     }

     .award-border{
       border:1px solid $award-color;
     }

    .paper{
      background:$paper-color;
      color: #FFF;
     }

     .paper-border{
       border:1px solid $paper-color;
     }

    .poster{
      background:$poster-color;
      color: #FFF;
     }

     .poster-border{
       border:1px solid $poster-color;
     }

    .workshop{
      background:$workshop-color;
      color: #FFF;
     }

     .workshop-border{
       border:1px solid $workshop-color;
     }

    .grant{
      background:$grant-color;
      color: #FFF;
     }

     .grant-border{
       border:1px solid $grant-color;
     }

    .general{
      background:$general-color;
      color: #FFF;
     }

     .general-border{
       border:1px solid $general-color;
     }

     .press{
      background:$press-color;
      color: #FFF;
     }

     .press-border{
       border:1px solid $press-color;
     }

  .info{
    background-color: #FFF;
    padding: 10px;
  }

  .content{
  }

  .tags{
  }
