@import '../../styles/main.scss';
@import '../page/page.scss';

paper-button {
  margin: .5em;
  width: 10em;
  position: absolute;
  bottom: 0;
  left:0;
  text-align:left;
  color: #353535;
}

.content {
  padding: 1em;
}

.max-lines {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2.4em;
  line-height: 1.2em;
}

.wrapper2 {
  position: relative;
  -webkit-box-shadow: #353535 .1em .1em 1em 0em;
  margin-top: 10px;
  background-color: #FFF;
}

.wrapper2:hover{
  -webkit-box-shadow: #111 .1em .1em 1em 0em;
}

#contactInfo{
  position: absolute;
  top: -1px;
  right: -1px;
}

.selected{
  background-color: rgb(0, 136, 204);
  color:white;
}

.contact{
  color:rgb(0, 136, 204)!important;
}
span{
  display: inline-block!important;
}
.department{
  font-variant: small-caps;
}

$faculty-color: #5158cc;
$staff-color: #31b06b;
$alumni-color: #f55253;
$collaborators-color: #e1a90e;

.name{
  text-align:center;
  color:#FFF;
}

.name.staff{
  background-color:$staff-color;
}

.name.faculty{
  background-color:$faculty-color;
}

.name.alumni{
  background-color:$alumni-color;
}

.name.collaborators{
background-color:$collaborators-color;
}

.name > h1{
  display: block;
  padding: 5px;
  margin: 0 !important;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

#picture{
  width:110px;
  height:135px;
  float:right;
  padding:5px;
}

#picture img{
  width:100%;
  height:100%;
}

#info{
  padding:5px;
  color: #353535;
}

img{
  -webkit-box-shadow: #353535 .1em .1em 1em 0em;
}
