@import '../../styles/main.scss';
@import '../page/page.scss';

paper-button {
  width: 100%;
  position: absolute;
  bottom: 0;
  left:0;
  text-align:center;
  color: #fff;
}

/* Buzz Out */
@-webkit-keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

paper-button:hover, paper-button:focus, paper-button:active {
  -webkit-animation-name: buzz-out;
  animation-name: buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.content {
  padding: 1em;
}

.wrapper2 {
  position: relative;
  @include vendor-prefix("box-shadow", "#bbb .1em .1em 1em 0em");
  margin-top: 10px;
  background-color: #FFF;
  @include vendor-prefix("transition-duration", "0.3s");
  @include vendor-prefix("transition-property", "box-shadow");
  @include vendor-prefix("transform", "translateZ(0)");
}

.wrapper2:hover, .wrapper2:focus, .wrapper2:active{
  @include vendor-prefix("box-shadow", "#888 .1em .1em 1em 0em");
}

.wrapper2:hover .item-overlay.top {
  top: 80%;
}

.item-overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0,0,0,0.5);
  color: #fff;
  overflow: hidden;
  text-align: center;
  width: 100%;
  @include vendor-prefix("transition", "top 0.3s, right 0.3s, bottom 0.3s, left 0.3s");
}
/*
…but this hide it
*/
.item-overlay.top {
  top: 100%;
}

#contactInfo{
  position: absolute;
  top: -1px;
  right: -1px;
}

.selected{
  background-color: rgb(0, 136, 204);
  color:white;
}

.contact{
  color:rgb(0, 136, 204)!important;
}
span{
  display: inline-block!important;
}
.department{
  font-variant: small-caps;
}

$faculty-color: #3f51b5;
$staff-color: #259b24;
$alumni-color: #e51c23;
$collaborators-color: #ffc107;

$general-color: #03a9f4;
$press-color: #259b24;
$publication-color: #e51c23;
// f55253
$award-color: #ffc107;
$talk-color: #3f51b5;

$fnndsctalk-color: #259b24;
$next-color: #3f51b5;
$unix101-color: #ffc107;

.name{
  text-align:center;
  color:#FFF;
}


@each $category, $color in (general,$general-color), (press, $press-color),
                           (publication, $publication-color), (award,$award-color),
                           (talk, $talk-color),
                           (faculty,$faculty-color), (staff, $staff-color),
                           (alumni, $alumni-color), (collaborators,$collaborators-color),
                           (fnndsctalk,$fnndsctalk-color), (next, $next-color),
                           (unix101, $unix101-color),
                           (general,$general-color), (press, $press-color),
                           (publication, $publication-color), (award,$award-color),
                           (talk, $talk-color)
                            {
  .name.#{$category} {
    background-color:#{$color};
  }

  .border.#{$category} {
    border:1px solid #{$color};
  }
}

.name > h1{
  display: block;
  padding: 5px;
  margin: 0 !important;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

#picture{
  width:110px;
  height:135px;
  float:right;
  padding:5px;
}

#picture img{
  width:100%;
  height:100%;
}

#info{
  padding:5px;
  color: #353535;
}

img{
  border: 1px solid #ddd;
}



#info{
  padding:.5em;
  color:#353535;
  // position: absolute;
  bottom: 49px;
}

#info div{
  padding-left:.5em;
}

#info .subtitle{
  padding-top:.5em;
  font-weight:bold;
}

.event{
  font-size: 1em;
  font-style: italic;
  color: grey;
}

#calendar{
  border: 1px solid #ddd;
}


.date{
  font-weight: bold;
  text-align: center;
  font-size: x-large;
  width: 100%;
  margin-top:-1px;

}

.month{
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.month span{
  width:100%;
}
