a.active{
	border-left: 2px solid black;
}

.fBox{
    background-color: #FFF;
    padding: 20px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box; 
    -moz-box-shadow: rgb(204, 204, 204) 1px 1px 10px 0px;
    -webkit-box-shadow: rgb(204, 204, 204) 1px 1px 10px 0px;
    box-shadow: rgb(204, 204, 204) 1px 1px 10px 0px;
    border-radius: 5px;
}

.jumbotron{
    background-color: rgba(255, 255, 255, .7);
}

.jumbotron .large{
    color:rgb(0, 143, 255);
}

section > .title{
    font-size: 20px;
    line-height: normal;
    padding: 10px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    color: #353535;
}

@media (min-width: 1000px){
.jumbotron .small{
    display: block;
    font-style: italic;
    font-weight: 100;
    font-size: 30px;
}

.jumbotron .large{
    display: block;
    font-size: 70px;
    line-height: 1.05;
    letter-spacing: -3px;
}
}

@media (max-width: 999px){
.jumbotron{
    padding: 10px;
}
.jumbotron .small{
    font-style: italic;
    font-weight: 100;
    font-size: 20px;
}

.jumbotron .large{
    font-size: 20px;
}
}

.spinner{
    float:right;
}