@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

.fBox{
  background-color: #FAFAFA;
}

$bg-color: #03a9f4;

.affix-top{
  margin-top:25px;
}
.affix-top > .nav > li > a, .affix > .nav > li > a {
  border-left: 1px solid;
  position: relative;
  display: block;
  padding: 5px;
  color: $bg-color;
  font-size:1.3em;
}

.jumbotron{
  background-color: $bg-color;
  color:#FFF;
}

.pageTitle{
  background-color:$bg-color;
}

section > .title{
  font-size: 30px;
  line-height: normal;
  padding: 20px;
  // border-bottom: 1px solid;
  margin-bottom: 10px;
  color: darkgray;
}

section > .content{
  font-size: 20px;
  line-height: normal;
}

section {
  margin-bottom: 50px;
  margin-top: 25px;
}

@media (min-width: 1000px){
  .jumbotron .small{
    display: block;
    font-style: italic;
    font-weight: 100;
    font-size: 30px;
  }

  .jumbotron .large{
    display: block;
    font-size: 70px;
    line-height: 1.05;
    letter-spacing: -3px;
  }

  .jumbotron.scrolled .small, .jumbotron.scrolled .large{
    display: inline-block;
    font-size: 2em;
  }

  .jumbotron.scrolled{
    margin-top: 163px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 999px){
  .jumbotron{
    padding: 10px;
  }
  .jumbotron .small{
    font-style: italic;
    font-weight: 100;
    font-size: 20px;
  }
  .jumbotron .large{
    font-size: 20px;
  }
}

.spinner{
  float:right;
}


.card{
  @include vendor-prefix("box-shadow", "#cccccc .1em .1em 1em 0em");
  padding: 1.5em;
  background-color:#FFF;
}

.title{
  font-size: 2em;
  padding-bottom: 1em;
}

.content{
  font-size:1.3em;
}

#navnav{
  width:100%;
  height:50px;
  background-color: #eee;
  color: #353535;
}

#navnavContainer{
  height:50px;
}

.nav > li > a:hover {
  color: #353535;
  cursor:pointer;
  background:none;
}

.nav > li > a{
  color:#999;
}

.nav > li > a.active{
  background-color:#fff;
  color:#353535;
}
