a.active{
  text-decoration: underline;
  font-weight: bold;
}


$bg-color: #14bef0;

.affix-top > .nav > li > a, .affix > .nav > li > a {
  border-left: 1px solid;
position: relative;
display: block;
padding: 5px;
color: $bg-color;
}

.jumbotron{
    background-color: $bg-color;
    color:#FFF;
}

.pageTitle{
  background-color:$bg-color;
}

section > .title{
    font-size: 30px;
    line-height: normal;
    padding: 20px;
    // border-bottom: 1px solid;
    margin-bottom: 10px;
    color: darkgray;
}

section > .content{
    font-size: 20px;
    line-height: normal;
}

section {
    margin-bottom:50px;
}

@media (min-width: 1000px){
.jumbotron .small{
    display: block;
    font-style: italic;
    font-weight: 100;
    font-size: 30px;
}

.jumbotron .large{
    display: block;
    font-size: 70px;
    line-height: 1.05;
    letter-spacing: -3px;
}
}

@media (max-width: 999px){
.jumbotron{
    padding: 10px;
}
.jumbotron .small{
    font-style: italic;
    font-weight: 100;
    font-size: 20px;
}

.jumbotron .large{
    font-size: 20px;
}
}

.spinner{
    float:right;
}
