@import '../../styles/main.scss';
@import '../page/page.scss';


@media (min-width: 1000px){
  paper-dialog{
    width:50%;
    min-width:430px;
    @include transform(translate3d(0,0,0));
  }
}

@media (max-width: 999px){
  paper-dialog{
    left:0;
    min-width: calc(100% - 40px);
    margin-left:20px;
    @include transform(translate3d(0,0,0));
  }
}

paper-button {
  margin: .5em;
  position: absolute;
  bottom: 0;
  left:0;
  text-align:left;
}

paper-dialog paper-button {
  right:0;
  left:initial;
  text-align:center;
}

#abstract{
  margin-top:1em;
}

$live-color: #5158cc;
#live .card{
  border-left: 5px solid $live-color;
}

$fnndsctalks-color: #31b06b;
#fnndsctalks .card{
  border-left: 5px solid $fnndsctalks-color;
}

$unix101-color: #e1a90e;
#unix101 .card{
  border-left: 5px solid $unix101-color;
}


$alumni-color: #f55253;
#alumni .card{
  border-left: 5px solid $alumni-color;
}
