@import '../../styles/main.scss';
@import '../page/page.scss';


@media (min-width: 1000px){
  paper-dialog{
    width:50%;
    min-width:430px;
    @include transform(translate3d(0,0,0));
  }
}

@media (max-width: 999px){
  paper-dialog{
    left:0;
    min-width: calc(100% - 40px);
    margin-left:20px;
    @include transform(translate3d(0,0,0));
  }
}

paper-button {
  margin: .5em;
  position: absolute;
  bottom: 0;
  left:0;
  text-align:left;
}

paper-dialog paper-button {
  right:0;
  left:initial;
  text-align:center;
}

#abstract{
  margin-top:1em;
}
