@import '../../styles/main.scss';
@import '../page/page.scss';

paper-button {
  margin: .5em;
  position: absolute;
  bottom: 0;
  right:0;
  text-align:left;
}

h3 {
  font-size: 1.2em;
  font-weight: 400;
}

.content {
  padding: 1em;
}

.wrapper2 {
  position: relative;
  -webkit-box-shadow: #cccccc .1em .1em 1em 0em;
  margin-top: 1em;
  min-height: 14em;
}

.wrapper2:hover{
  -webkit-box-shadow: #353535 .1em .1em 1em 0em;
}

h3{
  font-size: 1em;
  line-height: 1.2em;
  font-weight:normal;
}

$fnndsctalk-color: #5158cc;
$next-color: #31b06b;
$unix101-color: #f55253;

.name{
  text-align:center;
}

.name.next{
  background-color:$next-color;
}

.name.fnndsctalk{
  background-color:$fnndsctalk-color;
}

.name.unix101{
  background-color:$unix101-color;
}

.name > h1{
  color: #FFF;
  display: block;
  padding: .5em;
  margin: 0 !important;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

#picture{
  width:auto;
  height:auto;
  float:right;
  padding:.5em;
}

#picture img{
  width:100%;
  height:100%;
}

#info{
  padding:.5em;
}

#info div{
  padding-left:.5em;
}

#info .subtitle{
  padding-top:.5em;
  font-weight:bold;
}

.event{
  font-size: 1em;
  font-style: italic;
  color: grey;
}
