      #liveTitle{
        font-size: 20px;
        line-size:default!important;
        padding-bottom: 10px;
        text-align: center;
        background-color: rgb(0, 153, 153);
        color:#FFF;
      }


      #liveTime{
        font-size: 16px;
        line-height: normal;
        font-style: italic;
        margin: 10px;
      }

      #liveSpeaker{
        font-size: 16px;
        line-height: normal;
        font-weight: bold;
        margin: 10px;
      }

      #liveAbstract{
      	max-height: 200px;
        overflow-y: auto;
        margin-left: 10px;
        font-size: 14px;
        border-bottom: 1px lightgrey solid;
      }

      .eventrow{
        margin-bottom: 20px;
      }