      @import '../../styles/main.scss';
      @import '../page/page.scss';

$next-color: #5158cc;
$fnndsctalk-color: #31b06b;
$unix101-color: #f55253;

      #liveTitle{
        font-size: 20px;
        line-size:default!important;
        padding-bottom: 10px;
        text-align: center;
        color:#FFF;
      }

      #liveTitle.next{
        background-color: $next-color;
      }

      #liveTitle.fnndsctalk{
        background-color: $fnndsctalk-color;
      }

      #liveTitle.unix101{
        background-color: $unix101-color;
      }

      #liveTime{
        font-size: 16px;
        line-height: normal;
        font-style: italic;
        margin: 10px;
      }

      #liveSpeaker{
        font-size: 16px;
        line-height: normal;
        font-weight: bold;
        margin: 10px;
      }

      #liveAbstract{
      	max-height: 200px;
        overflow-y: auto;
        margin-left: 10px;
        font-size: 14px;
        border-bottom: 1px lightgrey solid;
      }

      .eventrow{
        margin-bottom: 20px;
      }
